.git
.github
.gitignore

.env
.env.*
!.env.example

venv
.venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache

media
staticfiles
backups
logs
tmp
temp

*.dump
*.sql
*.sqlite3
*.zip
*.tar
*.tar.gz
*.7z

node_modules
.cache

deploy-scmdpro.log
