* text=auto

# Force Linux line endings for code and scripts
*.py text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.txt text eol=lf
*.sql text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf

# Windows specific scripts
*.bat text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.pdf binary
*.zip binary
